<div class="formsec">
    <div class="container">    
    <h1  id="test">{{title}} Registration</h1>
    <div class="jumbotron">
        <div class="contact_from_area mb-100 clearfix">
            <div class="contact_form">
                <form method="post" id="main_contact_form">
                    <div class="contact_input_area">
                        <div id="success_fail_info"></div>   
                            
                            <h4>NOTE: FOR INDEVIDUAL REGISTRATION FILL TEAM NAME AS N/A</h4><br>
                            <Label>Team Details: </Label>                                
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                <div class="form-group">                                                
                                    <input type="text" class="form-control mb-30" name="teamName" id="teamName" placeholder="Team Name" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">                                                
                                    <input type="text" class="form-control mb-30" name="teamCount" id="membersCount" placeholder="Number of team members" required>
                                </div>
                            </div>
                            </div>
                            <div class="box">
                                <Label>Team Member 1 :</Label>
                                <div class="row">
                                <div class="col-12 col-lg-6">                                
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="firstName" id="firstName-1" placeholder="First Name" required>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="secondName" id="secondName-1" placeholder="Second Name" required>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control mb-30" name="email" id="email-1" placeholder="E-mail" required>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="number" id="number-1" placeholder="Your Number" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="college" id="college-1" placeholder="College Name" required>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="branch" id="branch-1" placeholder="Branch" required>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="year" id="year-1" placeholder="Year" required>
                                    </div>
                                </div>
                            </div>
                            </div><br>
                            <div class="box">
                                <Label>Team Member 2 :</Label>
                            <div class="row">
                                <div class="col-12 col-lg-6">                                
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="firstName" id="firstName-2" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="secondName" id="secondName-2" placeholder="Second Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control mb-30" name="email" id="email-2" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="number" id="number-2" placeholder="Your Number">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="college" id="college-2" placeholder="College Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="branch" id="branch-2" placeholder="Branch">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="year" id="year-2" placeholder="Year">
                                    </div>
                                </div>
                            </div>
                            </div><br>
                            <div class="box">
                                <Label>Team Member 3 :</Label>
                            <div class="row">
                                <div class="col-12 col-lg-6">                                
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="firstName" id="firstName-3" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="secondName" id="secondName-3" placeholder="Second Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control mb-30" name="email" id="email-3" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="number" id="number-3" placeholder="Your Number">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="college" id="college-3" placeholder="College Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="branch" id="branch-3" placeholder="Branch">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="year" id="year-3" placeholder="Year">
                                    </div>
                                </div>
                            </div>
                            </div><br>
                            <div class="box">
                                <Label>Team Member 4 :</Label>
                            <div class="row">
                                <div class="col-12 col-lg-6">                                
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="firstName" id="firstName-4" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="secondName" id="secondName-4" placeholder="Second Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control mb-30" name="email" id="email-4" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="number" id="number-4" placeholder="Your Number">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="college" id="college-4" placeholder="College Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="branch" id="branch-4" placeholder="Branch">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-30" name="year" id="year-4" placeholder="Year">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- Button -->
                            <br>
                            <div class="col-12">
                                <button type="submit" class="btn confer-btn mb-30">Register <i class="zmdi zmdi-long-arrow-right"></i></button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
