<div class="page">
    <div class="suc">
    <h1>Your registration for the {{title}} has been successfully done.See you at the venue</h1>
    <a href="/"><button type="click" class="btn confer-btn">Back To Home</button></a>
</div>
</div>