<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technical Events</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <!-- Our Schedule Area Start -->
    <section class="our-schedule-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-2 text-center" >
                        <p  data-aos="fade-up">IEEE ADGITM</p>
                        <h4  data-aos="fade-up">Technical Events</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Tab Content -->
                    <div class="tab-content" id="conferScheduleTabContent">
                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                            <!-- Single Tab Content -->
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Hackathon -->
                                        <div  data-aos="fade-up" class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center" >
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="../img/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Hackathon</h6>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="far fa-clock"></i> 10-11 Oct 2019</p>
                                                <p><i class="fas fa-map-marked-alt"></i> ADGITM, Auditorium</p>
                                            </div>
                                            <!-- Schedule Btn -->
                                                <a href="/tech/hackathon" class="btn confer-btn" >View More <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                        <!-- Tug of bots-->
                                        <div  data-aos="fade-up" class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center" >
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="../img/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Tug Of Bots</h6>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="far fa-clock"></i> 10 Oct 2019</p>
                                                <p><i class="fas fa-map-marked-alt"></i> ADGITM, Front of Admin Block</p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <a href="/tech/tugofbots" class="btn confer-btn">View More <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                        <!-- ROBOWAR -->
                                        <div  data-aos="fade-up" class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center" >
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="../img/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Robowar</h6>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="far fa-clock"></i> 11 Oct 2019</p>
                                                <p><i class="fas fa-map-marked-alt"></i> ADGITM, Front of Admin Block</p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <a href="/tech/robowar" class="btn confer-btn">View More <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                        <!-- Exhibition-->
                                        <div  data-aos="fade-up" class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center" >
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="../img/bg-img/10.jpg" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Exhibition</h6>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="far fa-clock"></i> 11 Oct 2019</p>
                                                <p><i class="fas fa-map-marked-alt"></i> ADGITM, Near Canteen</p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <a href="/tech/exhibition" class="btn confer-btn">View More <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                        
                                        <!-- Single Schedule Area -->
                                        <div  data-aos="fade-up" class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center" >
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                    <!-- Single Schedule Thumb -->
                                                    <div class="single-schedule-tumb">
                                                        <img src="../img/bg-img/10.jpg" alt="">
                                                    </div>
                                                    <!-- Single Schedule Info -->
                                                    <div class="single-schedule-info">
                                                        <h6>LFR Race</h6>
                                                    </div>
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="schedule-time-place">
                                                    <p><i class="far fa-clock"></i> 11 Oct 2019</p>
                                                    <p><i class="fas fa-map-marked-alt"></i> ADGITM, Near Admin Block</p>
                                                </div>
                                                <!-- Schedule Btn -->
                                                <a href="/tech/lfr" class="btn confer-btn">View More <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Schedule Area End -->
    <script>
         AOS.init({
          duration:600,
        });
    </script>
</body>
</html>